{% extends 'account/base.html' %}
{% block title %}Logowanie {% endblock %}
{% block content %}
    <p>Logowanie</p>
    {% if form.errors %}
        <p>Nazwa uzytkownika lub haslo sa nieprawidlowe!Sprobuj ponownie..</p>
    {% else %}
<p>Wypelnij formluarz zeby sie zalogowac. Jeżeli nie masz jeszcze konta, możesz je utworzyć
    <a href=" {% url 'register' %}">tutaj</a>.</p>
    {% endif %}
<form action=" {% url 'login' %}" method="post">
    {{form.as_p}}
    {%csrf_token %}
    <input type="hidden" name="next" value=" {{ next}}"/>
    <p><input type="submit" value="Zaloguj"/></p>

</form>
<p><a href=" {% url 'password_reset' %}">Zapomniałes hasła?</a></p>
{% endblock %}