{% extends 'account/base.html' %}

{% block content %}

<div class="container-fluid">

    <form role="form" action="." method="POST">
        <p class="text-center">
            {{ form }}
            {% csrf_token %}

        <button type="submit" class="btn btn-default">Wybierz</button></p>
    </form>
    {% if ascents %}
    <h4 class="text-center">Suma punktów:{{ sum_points }}</h4>
        <h3>{% if request.user.id == user.pk %}Lista Twoich dróg:
        {% else %}
        Lista dróg {{ user.first_name}} {{ user.last_name }}:
        {% endif %}
    </h3>
</div>


    <table class="table">
        <thead>
            <tr>
                <th>Data przejścia</th>
                <th>Nazwa drogi</th>
                <th>Rejon</th>
                <th>Sektor</th>
                <th>Wycena</th>
                <th>Styl</th>
                <th>Punkty</th>

            </tr>
        </thead>
        {% for ascent in ascents %}

            <tbody>
                <tr>
                    <td>{{ ascent.date_ascent }}</td>
                    <td> {{ ascent.route.name }}</td>
                    <td> {{ ascent.route.crag }}</td>
                    <td> {{ ascent.route.sector }}</td>
                    <td> {{ ascent.route.grade }}</td>
                    <td> {{ ascent.style }}</td>
                    <td> {{ ascent.points }}</td>
                    {% if request.user.id == ascent.user.pk %}
                        <td><a href=" {% url 'ascent_edit' pk=ascent.pk %} "> edytuj przejście </a></td>
                    {% endif %}
                </tr>
            </tbody>
        {% endfor %}
    </table>
    {% else %}
        <h5 class="text-center">Brak przejść w wybranym roku!</h5>
    {% endif %}
</div>


{% endblock %}

