{% extends 'account/base.html' %}

{% block content %}
<div class="container-fluid">
<form role="form" action="." method="POST">
    <p class="text-center">{{ form }}
    {% csrf_token %}

    <button type="submit" class="save btn btn-default">Wybierz</button></p>
</form>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <h3 class="text-center">{{ category_name }}</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Data urodzenia</th>
                        <th>Imię</th>
                        <th>Nazwisko</th>
                        <th>Punkty</th>
                    </tr>
                </thead>
                {% for user in users %}
                    <tbody>
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            {% for data in user|slice:"1:" %}
                                <td>
                                    {{data.date_of_birth}}
                                    <a href=" {% url 'ascents' pk=user|first %}">{{data.first_name }} {{ data.last_name }}</a>
                                    {{ data.points }}
                                </td>

                            {% endfor %}
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</div>


{% endblock %}
