{% extends "account/base.html "%}



{% block content %}


<div class="container-fluid">
<form role="form" action="." method="POST">
    <p class="text-center">
        {{ form }}
        {% csrf_token %}

    <button type="submit" class="btn btn-default">Wybierz</button></p>
</form>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <h3 class="text-center"><a href="{% url 'category' category='seniors_m'%}"> Seniorzy </a></h3>
        <table class="table table-hover">
            <thead>

                <tr>
                    <th></th>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Punkty</th>
                </tr>
            </thead>


                <tbody>
                {% for user in seniors_m %}
                <tr>

                    <td>{{ forloop.counter }}</td>
                    <td>
                        <a href=" {% url 'ascents' pk=user.pk %}">{{ user.first_name }} </a>
                    </td>
                    <td>{{ user.last_name }}</td>
                    <td>{{user.sum_points}}</td>

                </tr>



                {% endfor %}
                </tbody>


        </table>

    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
                <h3 class="text-center"><a href=" {% url 'category' category='seniors_w'  %} "> Seniorki </a></h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Punkty</th>
                </tr>
            </thead>


                <tbody>
                {% for user in seniors_w %}
                <tr>
                    <td>{{ forloop.counter }}</td>

                    <td>
                        <a href=" {% url 'ascents' pk=user.pk %}">{{ user.first_name }}</a>

                    </td>
                    <td>{{user.last_name}}</td>
                    <td>{{user.sum_points}}</td>
                </tr>



                {% endfor %}
                </tbody>


        </table>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
                <h3 class="text-center"><a href="{% url 'category' category='juniors_m' %}"> Juniorzy </a></h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Punkty</th>
                </tr>
            </thead>


                <tbody>
                {% for user in juniors_m %}
                <tr>
                    <td>{{ forloop.counter }}</td>

                    <td>
                        <a href=" {% url 'ascents' pk=user.pk %}">{{ user.first_name }}</a>
                    </td>
                    <td>{{user.last_name}}</td>
                    <td>{{user.sum_points}}</td>
                {% endfor %}
                </tr>




                </tbody>


        </table>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
                <h3 class="text-center"><a href="{% url 'category' category='juniors_w' %}"> Juniorki </a></h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Punkty</th>
                </tr>
            </thead>


                <tbody>
                {% for user in juniors_w %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>
                        <a href=" {% url 'ascents' pk=user.pk %}">{{ user.first_name }}</a>
                    </td>
                    <td>{{user.last_name}}</td>
                    <td>{{user.sum_points}}</td>
                {% endfor %}
                </tr>


                </tbody>


        </table>
    </div>
  </div>
</div>

{% endblock %}
